

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">
    <div class="row" style="margin-top:50px;">
        <div class="offset-4 col-lg-4">
            <div class="row">
                <div class="col-lg-2" style="margin-top:10px">
                    Name
                </div>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="txtName" name="name" value="" />
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Age
                </div>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="txtAge" name="name" value="" />
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Height
                </div>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="txtHieght" name="name" value="" />
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-3">
                    <input type="button" id="btnUserInfo" class="btn btn-outline-primary" name="name" value="Submit" />
                </div>
                <div class="col-lg-3">
                    <input type="button" id="btnClear" class="btn btn-outline-danger" name="name" value="Clear" />
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-12">
                    <label id="lblmsg"></label>
                </div>
            </div>
        </div>
</body>
</html>


<script>
    (function () {
        'use strict'
        $("#btnUserInfo").click(function () {
            var userInfo = {};
            userInfo.Name = $("#txtName").val();
            userInfo.Age = $("#txtAge").val();
            userInfo.Height = $("#txtHieght").val();

            var userInput = JSON.stringify(userInfo);

            $.post("/User/SaveUserInfo", userInfo, function (data) {
                alert(data)
            })
        })

        $("#txtHieght").blur(function () {
            var _age = $("#txtAge").val();
            var _height = $(this).val();
            var result = (_age / _height) * _height;
            $("#lblmsg").text("Hi " + $("#txtName").val() + " your result is " + result);
        })

        $("#btnClear").click(function () {
            Reset();
        })

        function Reset() {
            $("#txtAge").val("");
            $("#txtName").val("");
            $("#txtHieght").val("");
            $("#lblmsg").text("");
        }
    })();
</script>